# Airflow
AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=change-me

# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=change-me
POSTGRES_DB=airflow

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me
MINIO_ENDPOINT=http://minio:9000
MINIO_REGION=us-east-1
MINIO_BUCKET_BRONZE=bronze
MINIO_BUCKET_SILVER=silver
MINIO_BUCKET_GOLD=gold

# CoinGecko
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
COINGECKO_CRYPTO_IDS=bitcoin,ethereum
COINGECKO_VS_CURRENCY=usd
COINGECKO_REQUEST_TIMEOUT_SECONDS=30
